<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355067498840-oo3vbo1onj3jbhus2bt4m4ui1n24fvcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355067498840-oo3vbo1onj3jbhus2bt4m4ui1n24fvcl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>355067498840-f5h824sppk1opigim6q5uvhispriq1g0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLayJwCnmXfvBTVg3w1sCsS-0CSqlus6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>355067498840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geolocationbackground</string>
	<key>PROJECT_ID</key>
	<string>react-native-map-checker</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-map-checker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355067498840:ios:194cf8d4d141adf239952d</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-map-checker-default-rtdb.firebaseio.com</string>
</dict>
</plist>